body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  min-height: 100vh;
  margin: 0;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #fcb045;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

.label {
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

.password-display {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
  border: 2px solid black;
  height: 2px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-radius: 0.5rem;
}
